*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ffffff;
}

.container{
    width:100%;
    height:100vh;
    display:flex;
}

.left{
    width:50%;
    background:#fdf3ef;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.left img{
    width:80%;
}

.right{
    width:50%;
    padding:80px;
}

.logo{
    text-align:right;
    color:#e76f51;
    font-size:36px;
    margin-bottom:50px;
}

h2{
    margin-bottom:30px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:8px;
    font-size:14px;
}

input{
    height:45px;
    margin-bottom:20px;
    padding:10px;
    border-radius:8px;
    border:none;
    background:#f1eae6;
}

input:focus{
    outline:none;
    border:1px solid #e76f51;
}

button{
    height:45px;
    width:160px;
    border:none;
    border-radius:25px;
    background:#e76f51;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#d65a3f;
}

.link{
    margin-top:15px;
    font-size:14px;
}

.link span{
    color:#e76f51;
    cursor:pointer;
}

.success{
    display:none;
    height:100vh;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

.check{
    font-size:120px;
    color:#e76f51;
    margin-bottom:20px;
}

.home-link{
    font-size:20px;
    color:#e76f51;
    cursor:pointer;
    font-weight:bold;
}

#signupPage, #loginPage{
    display:none;
}